body{
  background-color: rgba(156, 173, 177, 0.479);
}
#body-container {
  max-width: 900px;
  margin: 0 auto;
}

.jumbotron {
  margin-top: 10px;
}

#about {
  padding: 5px;
}

h2{
  text-align: center;
  clear: both;
}

#self-photo {
  float: left;
  max-width: 250px;
  margin-right: 15px;
}

span {
  font-style: italic;
}

#hobby-container{
  float: right;
  border: lightslategray double 3px;
  padding: 2px 10px 2px 2px;
  margin: 5px;
}

#hobby-container h3 {
  text-align: center;
}

#project-container h4 {
  font-size: 1.2em;

}