body{
  background-color: rgba(156, 173, 177, 0.479);
}

#body-container {
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.8em;
}
.jumbotron p {
  font-size: 1.5em;
}
#about {
  padding: 5px;
  margin-bottom: 30px;
}

.sect-head {
  background-color: rgb(170, 192, 233);
  padding: 2px;
  margin: 5px 0px 10px 0px;
  border-radius: 10px;
}

h2{
  text-align: center;
  clear: both;
}

#self-photo {
  float: left;
  max-width: 250px;
  margin-right: 15px;
}

span {
  font-style: italic;
}

#hobby-container{
  float: right;
  border: lightslategray double 3px;
  padding: 2px 10px 2px 2px;
  margin: 5px;
}

#hobby-container h3 {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.card {
  border: lightgrey 1px solid;
}

/* .card:hover {
  box-shadow: 8px 8px 4px 1px rgb(132, 151, 185);
} */

.card-header {
  text-align: center;
}

.card-body {
  min-height: 375px;
}

#project-container h4 {
  font-size: 1.2em;
}

/*Styling for shadow animation*/
.shadow-box {
  position: relative;
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.shadow-box::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: opacity 500ms;
}

.shadow-box:hover::before {
  opacity: 1;
}
